<h1>Burgers!</h1>

<h2>Eat-Da-Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li class="left">{{this.burger_name}}
    </li>
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li class="right">{{this.burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ul>



<h2>Create a burger</h2>
<form class="create-form" action="/api/burgers" method="post">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
